<app-navbar></app-navbar>

    <section class="projects-section">
        <div class="projects-container">
            <div class="section-header">
                <h1 class="section-title">Gestion des formulaires dynamiques</h1>
                <p class="section-description">
                    Découvrez plus de détails sur mon projet
                </p>

            </div>
            <div class="project-details">
                <div class="project-left">

                    <p class="description">
                       J’ai conçu et développé une application complète de gestion de formulaires dynamiques, permettant la création,
                        la personnalisation et la gestion efficace des formulaires via une interface intuitive. L’application repose sur 
                        SurveyJS pour générer des formulaires configurables : chaque formulaire peut être défini et personnalisé grâce 
                        à une configuration JSON côté backend, ce qui permet de modifier facilement les questions, les types de champs,
                         les validations et la mise en page sans toucher au code.


                    </p>
                    <p class="description">
                       Les réponses des utilisateurs sont collectées et enregistrées de manière sécurisée dans une base de données,
                        assurant la confidentialité et l’intégrité des données. L’application offre également un affichage automatique
                         des formulaires selon la configuration définie, ce qui permet aux utilisateurs de visualiser et de remplir 
                         les formulaires adaptés à chaque contexte.
                    </p>
                       <p class="description">
                         Points clés : <br>

                            - Création et personnalisation de formulaires dynamiques via SurveyJS <br>

                           -  Gestion et modification des formulaires grâce à une configuration JSON côté backend <br>

                           -  Collecte et stockage sécurisé des réponses utilisateurs <br>

                           - Affichage automatique des formulaires selon la configuration définie <br>

                           - Interface moderne et intuitive pour administrateurs et utilisateurs     <br>
                    </p>

                            <a href="https://github.com/amallazreg/Gestion_de_Formulaires_Dynamiques" class="btn-left">Code source</a>


                    <div class="tech-stack">
                        <h3>Technologies utilisées</h3>
                        <div class="stack-list">
                             <span class="tag">Angular</span>
                            <span class="tag">.Net Core</span>
                            <span class="tag">MySQL</span>
                        </div>
                    </div>
                </div>
                

                <div class="project-right">
                    
                    <div class="images-slider">
                        
                        <img src="assets/consul1.jpg" alt="">
                        <img src="assets/consul2.png" alt="">
                        <img src="assets/consul3.png" alt="">
                        <img src="assets/consul4.png" alt="">
                        <img src="assets/consul5.png" alt="">
                        


                    </div>
                </div>
            </div>
            
            <div class="project-buttons">
                  <a href="/projets" class="btn-left">Mes Projets</a>

                   <a href="/contact" class="btn-right">Me Contacter</a>
</div>

</div>
</section>

<app-footer></app-footer>