<app-navbar></app-navbar>
<body>
<section id="about" class="about-section">
        <div class="about-container">
            <h2 class="section-title">À propos de moi</h2>
            <div >

            <p style="text-align: left;">BIOGRAPHIE</p>
            </div>
            <div class="about-content">
                
                <div class="about-text">
                    <p>
                        Je suis Amal Lazreg, une développeuse full-stack et  étudiante en dernière année d’ingénierie en téléinformatique à l’ISTICOM. 
                        J’aime transformer des idées en expériences web dynamiques et intuitives, où design et performance se rencontrent. 
                        Grâce à mes expérience en développement front-end et back-end, je crée des sites et applications responsives, performants et agréables à utiliser.
                    </p>
                    <p>
                        Chez Yooreed, j’ai eu l’opportunité de travailler sur le développement d’une plateforme vitrine pour une agence immobilière, 
                        ce qui m’a permis de renforcer et d’élargir mon expertise en développement full-stack. Mes compétences techniques incluent notamment Angular,
                         Node.js et MongoDB. Parmi mes réalisations, j’ai conçu une interface visiteur interactive pour faciliter la recherche et la consultation 
                         des biens immobiliers, ainsi qu’un espace administrateur complet pour la gestion des annonces, des partenaires et des profils utilisateurs.
                          J’ai également intégré un module de contact simplifiant la communication entre les visiteurs et l’agence, garantissant une expérience 
                          utilisateur fluide et efficace.
                    </p>
                  
                </div>
                <div class="about-image-section">
                    <img src="https://media.licdn.com/dms/image/v2/D4D03AQFb9tnBz_pExg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1713720254693?e=1764806400&v=beta&t=iOI3RJrHG1xFYjuN2x3_fFd4KIE079bS_nIygvXCCtM" alt="Amal Lazreg" class="about-image">
                </div>
            </div>

            <!-- Skills Section -->
            <h3 class="section-title" style="margin-top: 3rem;">Compétences</h3>
            <div class="skills-grid">
                <div class="skill-category">
                    <h3>Front-end</h3>
                    <ul class="skill-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li> Bootstrap</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                        <li>Angular</li>
                        
                    </ul>
                </div>
                <div class="skill-category">
                    <h3>Back-end</h3>
                    <ul class="skill-list">
                        <li>Node.js</li>
                        <li>.NET Core</li>
                        <li>Spring Boot</li>
                        <li>Java</li>
                        <li>MongoDB</li>
                        <li>MySQL</li>
                    </ul>
                </div>
                <div class="skill-category">
                    <h3>Autres Technologies</h3>
                    <ul class="skill-list">
                        <li>Git</li>
                        <li>Docker</li>
                        <li>Figma</li>
                        <li>Postman</li>
                        <li>Agile/Scrum</li>
                    </ul>
                </div>
            </div>

            <!-- Experience Section -->
            <h3 class="section-title">Expériences</h3>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-header">
                        <h4 class="education-title">Stage d’été –Développeuse Full Stack</h4>
                        <p class="timeline-meta">Juillet  2025 | Tunisie, Sousse</p>
                        <a href="https://consultim-it.com/" class="timeline-company">  Consultim IT </a>
                    </div>
                    <p class="timeline-description">
                       Lors de mon expérience au sein de l’équipe Consultim IT, j’ai participé au développement d’une application complète dédiée à la gestion de 
                       formulaires dynamiques. J’ai contribué à la conception et à l’implémentation d’une interface configurable permettant de créer 
                       et personnaliser des formulaires grâce à SurveyJS, ainsi qu’à la mise en place d’un backend assurant l’enregistrement sécurisé
                        des réponses dans la base de données. J’ai également travaillé sur l’affichage automatisé des formulaires en fonction des
                         configurations JSON définies côté serveur. Ce projet m’a permis de renforcer mes compétences en Angular, .NET Core et MySQL, 
                         tout en consolidant mon savoir-faire en développement d’applications web professionnelles.
                    </p>
                </div>

                <div class="timeline-item">
                    <div class="timeline-header">
                        <h4 class="education-title">Stage d’été – Développeuse Full Stack</h4>
                        <p class="timeline-meta"> Juillet – Août 2024 | Tunisie, Sousse</p>
                        <a href="https://yooreed.tn/" class="timeline-company">  Yooreed </a>
                    </div>
                    <p class="timeline-description">
                        Lors de mon stage d'été chez Yooreed, j'ai contribué au développement d’une plateforme vitrine pour une agence immobilière, 
                        incluant une interface visiteur pour la consultation des biens et un espace administrateur pour gérer les annonces,
                         partenaires et utilisateurs. J’ai également intégré un module de contact pour faciliter les échanges avec l’agence.
                          Ce projet m’a permis de renforcer mes compétences en Angular, Node.js et MongoDB.
                    </p>
                </div>

                <div class="timeline-item">
                    <div class="timeline-header">
                        <h4 class="education-title">Stage de fin d’études – Développeuse Full Stack</h4>
                        <p class="timeline-meta">Janvier – Mai 2023 | Tunisie, Sousse</p>
                        <a href="https://www.valomnia.com/entreprise/#" class="timeline-company">  Valomnia </a>
                    </div>
                    <p class="timeline-description">
                        Durant mon stage de dernière année,J’ai participé à la conception et au développement d’une application web multi-rôles 
                        pour la gestion d’un centre médical, incluant les profils visiteur, patient, 
                        employé et administrateur avec une authentification sécurisée. J’ai implémenté 
                        les modules de gestion des rendez-vous, des dossiers médicaux et des ordonnances, 
                        ainsi qu’un espace d’administration complet pour la gestion des utilisateurs, des
                         employés et des spécialités médicales. Ce projet m’a permis de renforcer mes
                          compétences techniques sur Angular, Spring Boot et MySQL.
                    </p>
                </div>

                 <div class="timeline-item">
                    <div class="timeline-header">
                        <h4 class="education-title"> Stage d’été – Développeuse Full Stack</h4>
                        <p class="timeline-meta">Août 2022 | Tunisie, Sousse</p>
                        <a href="https://www.proxym-group.com/" class="timeline-company">   PROXYM </a>
                    </div>
                    <p class="timeline-description">
                       Lors de mon stage d'été chez Proxym Group, J’ai participé au développement d’une application web pour la
                        gestion des événements des clubs, offrant une 
                        plateforme interactive permettant la consultation des clubs
                         et de leurs événements. J’ai implémenté les fonctionnalités
                          d’inscription, d’authentification et de participation aux
                           événements, assurant une expérience utilisateur fluide 
                           et sécurisée. Ce projet m’a permis de consolider mes 
                           compétences en Angular, Node.js et MongoDB.
                    </p>
                </div>
            </div>

            <!-- Education Section -->
            <h3 class="section-title">Éducation</h3>
            <div class="education-grid">
                <div class="education-item">
                    <h4 class="education-title"> DIPLÔME NATIONAL D’INGÉNIEUR EN TÉLÉINFORMATIQUE</h4>
                    <p class="education-meta">  2023 - 2026 </p>
                    <a href="https://isitcom.rnu.tn/" class="education-school">  Institut Supérieur d'Informatique et des Technologies de Communication de Sousse(ISITCOM) </a>
                </div>

                <div class="education-item">
                    <h4 class="education-title">Licence en Science de l’Informatique</h4>
                    <p class="education-meta">  2020 - 2023 </p>
                    <a href="https://isitcom.rnu.tn/" class="education-school">   Institut Supérieur d'Informatique et des Technologies de Communication de Sousse(ISITCOM)</a>
                </div>

                <div class="education-item">
                    <h4 class="education-title">Baccalauréat en Mathématiques</h4>
                    <p class="education-meta"> 2016 - 2020 </p>
                </div>
            </div>
        </div>
    </section>
        <app-footer></app-footer>

    </body>

