<app-navbar></app-navbar>

    <section class="projects-section">
        <div class="projects-container">
            <div class="section-header">
                <h1 class="section-title">Agence immobilière</h1>
                <p class="section-description">
                    Découvrez plus de détails sur mon projet
                </p>
            </div>
            <div class="project-details">
                <div class="project-left">

                    <p class="description">
                        C'est une plateforme vitrine moderne et performante pour une agence immobilière, destinée à offrir une expérience enrichie 
                        à la fois pour les visiteurs et pour les administrateurs. Ce site permettra à l'agence de mettre en valeur ses propriétés 
                        de manière professionnelle avec des descriptions détaillées, des photos de haute qualité, et des informations précises pour capter immédiatement l’intérêt des visiteurs. 


                    </p>
                    <p class="description">
                        L’administrateur joue un rôle crucial dans la gestion du site vitrine de l'agence immobilière. Il est responsable de l'ajout,
                         de la modification et de la suppression des annonces, garantissant que les informations sur les propriétés soient toujours à jour
                          et pertinentes. Ils gèrent les photos et autres médias associés aux biens pour s'assurer qu'ils soient présentés de manière attrayante.
                           De plus, il est responsable de l’ajout des partenaires.
                    </p>

                    <p class="description">
                        Les visiteurs, qui incluent des acheteurs et des locataires potentiels,
                         sont les visiteurs du site vitrine et les clients de l'agence immobilière. 
                         Ils ont accès à une page d'accueil qui présente l'agence ainsi qu'un carousel
                          d'images mettant en avant les propriétés phares. Grâce à une barre de recherche avec des filtres,
                           les utilisateurs peuvent rechercher des propriétés selon divers critères, tels que la localisation, le prix, et le type de bien…
                    </p>
                            <a href="https://github.com/amallazreg/AgenceImmobiliereFull" class="btn-left">Code source</a>

                    <div class="tech-stack">
                        <h3>Technologies utilisées</h3>
                        <div class="stack-list">
                            <span>Angular</span>
                            <span>Node.js</span>
                            <span>MongoDB</span>
                        </div>
                    </div>
                </div>

                <div class="project-right">
                    <div class="images-slider">
                        <img src="assets/yooreed1.jpg" alt="">
                        <img src="assets/yooreed2.png" alt="">
                        <img src="assets/yooreed3.png" alt="">
                        <img src="assets/yooreed4.png" alt="">
                        <img src="assets/yooreed5.png" alt="">
                        <img src="assets/yooreed6.png" alt="">
                        


                    </div>
                </div>
            </div>
            <div class="project-buttons">
                  <a href="/projets" class="btn-left">Mes Projets</a>
                   <a href="/contact" class="btn-right">Me Contacter</a>
</div>

</div>
</section>

<app-footer></app-footer>