<app-navbar></app-navbar>

    <section class="projects-section">
        <div class="projects-container">
            <div class="section-header">
                <h1 class="section-title">Un centre médical</h1>
                <p class="section-description">
                    Découvrez plus de détails sur mon projet
                </p>

            </div>
            <div class="project-details">
                <div class="project-left">

                    <p class="description">
                        C'est un site web dynamique, interactif, fiable, convivial et facile à s'intégrer dans l'environnement de travail. En effet, 
                        ce projet cherche à réduire le temps d’attente lors d’une prise de rendez-vous et par conséquent la charge quotidienne des patients
                         dans un cabinet médical et à rendre plus simple la recherche des informations relatives au dossier du patient. C’est la solution
                          qu’il vous faut si vous souhaitez optimiser le secteur médical.


                    </p>
                    <p class="description">
                        L’application répond à différents besoins selon le type d’utilisateur. Pour le visiteur, elle permet l’inscription afin d’accéder aux services.<br>
                         - Pour le patient, elle offre l’authentification, la possibilité de demander un rendez-vous et de gérer son profil, 
                         notamment modifier et afficher ses informations.<br>
                         - Pour l’employé, l’application propose l’authentification, la gestion des rendez-vous (affichage par date, confirmation ou refus), 
                         la gestion des ordonnances (affichage, ajout) et la gestion des dossiers médicaux (affichage, ajout, suppression).<br> 
                         - Pour l’administrateur, elle inclut l’authentification, la gestion des patients 
                         (affichage et suppression), la gestion des employés (affichage et ajout), ainsi que la gestion des spécialités, 
                         comprenant l’affichage, l’ajout, la modification, la suppression, l’association de médecins à une spécialité, 
                         et la gestion des médecins d’une spécialité (affichage et suppression).
                    </p>

                                                     <a href="https://github.com/amallazreg/GestionCentreMedical" class="btn-left">Code source</a>


                    <div class="tech-stack">
                        <h3>Technologies utilisées</h3>
                        <div class="stack-list">
                            <span>Angular</span>
                            <span>Spring Boot</span>
                            <span>MySQL</span>
                        </div>
                    </div>
                </div>
                

                <div class="project-right">
                    
                    <div class="images-slider">
                        
                        <img src="assets/valomia1.jpg" alt="">
                        <img src="assets/valomia2.png" alt="">
                        <img src="assets/valomia3.png" alt="">
                        <img src="assets/valomia4.png" alt="">
                        <img src="assets/valomia5.png" alt="">
                        <img src="assets/valomia6.png" alt="">
                        


                    </div>
                </div>
            </div>
            
            <div class="project-buttons">
                  <a href="/projets" class="btn-left">Mes Projets</a>

                   <a href="/contact" class="btn-right">Me Contacter</a>
</div>

</div>
</section>

<app-footer></app-footer>