<app-navbar></app-navbar>

    <section class="projects-section">
        <div class="projects-container">
            <div class="section-header">
                <h1 class="section-title">Simulateur de voyage interactif</h1>
                <p class="section-description">
                    Découvrez plus de détails sur mon projet
                </p>
            </div>
            <div class="project-details">
                <div class="project-left">

                    <p class="description">
                        Le Simulateur de Voyage Interactif est une plateforme web permettant aux utilisateurs de planifier un voyage en fonction
                         de leur budget.
                         La plateforme offre des recommandations intelligentes, un simulateur de budget et permet aux agences de voyage de proposer leurs offres. 


                    </p>
                    <p class="description">
                        J’ai conçu et développé une application complète de gestion et de réservation d’offres de voyage, intégrant plusieurs rôles utilisateurs tels que voyageurs, agences et administrateur. L’application permet aux voyageurs de rechercher et réserver des offres selon leur budget, leurs préférences et leur destination, tout en offrant aux agences un espace sécurisé pour gérer leurs offres, leurs partenaires et leurs réservations. L’architecture repose sur une gestion stricte des rôles et des accès, garantissant une expérience fluide, moderne et sécurisée pour chaque utilisateur.

                        Points clés : <br>

                        - Application multi-rôles : voyageurs, agences, administrateur <br>

                        - Module de recherche avancée (budget, destination, préférences) <br>

                        - Système de réservation fluide et sécurisé <br>

                        - Espace dédié aux agences pour gérer offres et partenariats <br>

                        - Gestion des accès et sécurité renforcée (authentification, rôles) <br>
                    </p>
                                                <a href="https://github.com/amallazreg/AgenceDeVoyage" class="btn-left">Code source</a>


                    <div class="tech-stack">
                        <h3>Technologies utilisées</h3>
                        <div class="stack-list">
                            <span>Angular</span>
                            <span>Node.js</span>
                            <span>MongoDB</span>
                        </div>
                    </div>
                </div>

                <div class="project-right">
                    <div class="images-slider">
                        <img src="assets/image1.png" alt="">
                        <img src="assets/image2.png" alt="">
                        <img src="assets/image3.png" alt="">
                        <img src="assets/image5.png" alt="">
                        <img src="assets/image6.png" alt="">
                        <img src="assets/image7.png" alt="">
                        <img src="assets/image8.png" alt="">
                        <img src="assets/image9.png" alt="">



                    </div>
                </div>
            </div>
            <div class="project-buttons">
                  <a href="/projets" class="btn-left">Mes Projets</a>
                   <a href="/contact" class="btn-right">Me Contacter</a>
</div>

</div>
</section>

<app-footer></app-footer>